<h1> Editing Book</h1>

<%= form_for(@book) do |f| %>

	<h4> title</h4>
	<%= f.text_field :title,class: "book_title" %>

	<h4> body</h4>
	<%= f.text_area :body,class: "book_body" %>

	<%= f.submit 'Updete Book'%>

<% end %>
<link>
<%= link_to "Show",book_path,class: "Show" %>
|
<%= link_to "Back",books_path,class: "Back" %>
</link>