<% if flash[:notice] %>
<p><%= flash[:notice] %></p>
<% end %>
<body>
	<p><strong>Title:</strong><%= @book.title %></p>
	<p><strong>Body:</strong><%= @book.body %></p>
		<link>
			<td><%= link_to "edit",edit_book_path,class: "edit" %></td>
			|
			<td><%= link_to "back",books_path,class: "back" %></td>
		</link>
</body>